<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/meet/addWhz" method="POST">
    m_uuid：<input type="text" name="m_uuid" />
    <br/>
    m_name：<input type="text" name = "m_name" />
    <br/>
    m_content: <input type="text" name = "m_content" />
    <br/>
    m_person：<input type="text" name = "m_person"/>
    <br/>
    m_type：<input type="text" name = "m_type"/>
    <br/>
    m_meetingid：<input type="text" name = "m_meetingid" />
    <br/>
    m_meetingurl：<input type="text" name = "m_meetingurl" />
    <br/>
    m_createtime：<input type="datetime-local" name = "m_createtime" />
    <br/>
    m_meetingtime：<input type="datetime-local" name = "m_meetingtime" />
    <br/>
    m_details：<input type="text" name = "m_details" />
    <br/>
    <input type="submit" value="新增">
</form>
</body>
</html>